# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build artifacts
bin/
obj/

# Rider
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
*.nupkg
packages/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Test results
TestResults/

# Others
*.cache
*.vsix
